@model IEnumerable<CommonModels.LoadsModel>

@{
    ViewData["Title"] = "My Loads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="feature-area mt-5 mb-5">
    <div class="container">
        @if (TempData.ContainsKey("success"))
        {
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        <strong>Success!</strong> @TempData["success"]
                    </div>
                </div>
            </div>
        }
        <div class="row justify-content-center">
            <partial name="_DriverSideBar" />
            <div class="col-md-9 text-center section-title-wrap">
                <h1>My Loads</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Items)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Pickup_Location)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Drop_Location)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Dispatcher_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Pay)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Accepted_On)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 0;
                        }
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @{ sno++; }
                                @sno
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Items)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pickup_Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Drop_Location)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dispatcher_Name)
                            </td>
                            <td>
                                $@Html.DisplayFor(modelItem => item.Pay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Accepted_On)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>